---
import Presentacion from "../components/Presentacion.astro";
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Bento from "../components/Bento.astro";
import PreFooter from "../components/PreFooter.astro";
import Preguntas from "../components/Preguntas.astro";
---

<Layout
  title="Magical20 - Mejora tus partidas de Rol con ayuda de la IA"
  description="¡Saludos aventureros/as! Descubre nuevos mundos, nuevas aventuras y nuevos lugares con la ayuda de la inteligencia artificial. Lleva tus partidas de rol al siguiente nivel gracias a la IA"
>
  <Presentacion />

  <main>
    <Intro />
    <Bento />
    <PreFooter />
    <Preguntas />
  </main>
</Layout>

<style></style>
