<a
  href="#"
  class="w-full sm:w-auto bg-gray-800 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 text-white rounded-lg inline-flex items-center justify-center px-4 py-2.5 dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700"
>
  <svg
    class="me-3 w-7 h-7"
    fill="none"
    height="32"
    viewBox="0 0 32 32"
    width="32"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    ><linearGradient
      id="a"
      gradientUnits="userSpaceOnUse"
      x1="15.6769"
      x2="7.07106"
      y1="10.874"
      y2="19.5506"
      ><stop offset="0" stop-color="#00c3ff"></stop><stop
        offset="1"
        stop-color="#1be2fa"></stop></linearGradient
    ><linearGradient
      id="b"
      gradientUnits="userSpaceOnUse"
      x1="20.292"
      x2="31.7381"
      y1="15.8176"
      y2="15.8176"
      ><stop offset="0" stop-color="#ffce00"></stop><stop
        offset="1"
        stop-color="#ffea00"></stop></linearGradient
    ><linearGradient
      id="c"
      gradientUnits="userSpaceOnUse"
      x1="7.36932"
      x2="22.595"
      y1="30.1004"
      y2="17.8937"
      ><stop offset="0" stop-color="#de2453"></stop><stop
        offset="1"
        stop-color="#fe3944"></stop></linearGradient
    ><linearGradient
      id="d"
      gradientUnits="userSpaceOnUse"
      x1="8.10725"
      x2="22.5971"
      y1="1.90137"
      y2="13.7365"
      ><stop offset="0" stop-color="#11d574"></stop><stop
        offset="1"
        stop-color="#01f176"></stop></linearGradient
    ><mask id="e" height="26" maskUnits="userSpaceOnUse" width="24" x="7" y="3"
      ><path
        d="m30.0484 14.4004c1.2688.6982 1.2688 2.501 0 3.1992l-20.29213 11.1663c-1.23575.68-2.75627-.2025-2.75627-1.5996v-22.33256c0-1.39717 1.52052-2.27959 2.75627-1.59959z"
        fill="#c4c4c4"></path></mask
    ><g mask="url(#e)"
      ><path
        d="m7.63473 28.5466 12.65757-12.7287-12.44911-12.51907c-.49666.31838-.84319.86807-.84319 1.53507v22.3325c0 .5691.25223 1.0527.63473 1.3802z"
        fill="url(#a)"></path><path
        d="m30.048 14.4003c1.2689.6982 1.2689 2.5009 0 3.1991l-5.1193 2.8171-4.6367-4.599 4.4003-4.3644z"
        fill="url(#b)"></path><path
        d="m24.9292 20.4168-4.6368-4.5989-12.65763 12.7287c.55662.4766 1.38912.6225 2.12158.2194z"
        fill="url(#c)"></path><path
        d="m7.84277 3.29865 12.44913 12.51905 4.4003-4.3644-14.93637-8.21915c-.6458-.35537-1.36937-.28402-1.91306.0645z"
        fill="url(#d)"></path></g
    ></svg
  >
  <div class="text-left rtl:text-right">
    <div class="mb-1 text-xs">DISPONIBLE EN</div>
    <div class="-mt-1 font-sans text-sm font-semibold">Google Play</div>
  </div>
</a>
