<section class="w-full p-20 max-w-3xl mx-auto">
    <h3
        class="uppercase text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto"
    >
        Vídeo de Presentación
    </h3>

    <video class="shadow-2xl shadow-white/10 rounded" controls>
        <source src="Trailer_es.webm" type="video/webm" />
        Your browser does not support the video tag.
    </video>
</section>
