<div class="relative space-y-4 max-w-[1400px] mx-auto sm:p-20 p-6 text-pretty">
  <h3
    class="text-4xl tracking-wide text-center font-semibold mb-10 text-balance mx-auto"
  >
    Preguntas frecuentes
  </h3>
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">¿Qué es Magical20?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      Magical20 es una revolucionaria <strong
        >aplicación para aventuras de rol</strong
      > que combina la pasión por la narrativa con la <strong
        >potencia de la Inteligencia Artificial</strong
      >. Permite a los jugadores interactuar con personajes en tiempo real,
      tejer historias fascinantes, diseñar héroes, monstruos y tesoros
      detallados, e ilustrar su imaginación al instante. Es la herramienta
      perfecta para aquellos que desean llevar sus partidas de rol a dimensiones
      completamente nuevas y vivir aventuras inigualables.
    </p>
  </details>

  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">¿Cómo funciona Magical20?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      Magical20 es una aplicación diseñada para <strong
        >móviles y tablets</strong
      > que lleva el juego de rol a un nuevo nivel gracias al uso de
      <strong>Inteligencia Artificial</strong>. Al abrir la aplicación, puedes
      sumergirte en <strong
        >aventuras ya creadas por el equipo de Magical20</strong
      >, cada una con personajes, lugares, bestias y tesoros meticulosamente
      diseñados. Sin embargo, donde Magical20 verdaderamente brilla es en su
      capacidad de detallar. Si optas por <strong
        >crear tu propia aventura</strong
      >, solo tienes que proporcionar unas pautas iniciales y la IA se encargará
      del resto. Personajes que se sienten vivos, con memorias pasadas,
      ambiciones y trasfondos sorprendentes. Lugares descritos con tal nivel de
      detalle que te transportarán instantáneamente, como si realmente
      estuvieras allí. Es la <strong>herramienta definitiva</strong> para aquellos
      que buscan <strong>profundidad y riqueza en sus juegos de rol</strong>,
      con un énfasis especial en la creación de mundos y personajes vívidos.
    </p>
  </details>
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">¿Puedo hablar con los personajes?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      <strong>¡Sí, absolutamente!</strong> Una de las características más destacadas
      de Magical20 es la capacidad de <strong
        >interactuar en tiempo real con los personajes no jugadores</strong
      >. Gracias a la <strong>avanzada Inteligencia Artificial</strong>, no solo
      puedes conversar con ellos, sino que también puedes <strong
        >extraer información, discutir, chantajear, persuadir</strong
      > y realizar todas las acciones que harías con una persona real. Con esta función,
      el arte del rol cobra más sentido que nunca, llevando la inmersión y el realismo
      a niveles nunca antes vistos. Será una prueba para tus habilidades y tendrás
      que sacar a relucir tus mejores cualidades de rol para sacar el máximo provecho
      de tus interacciones.
    </p>
  </details>
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        Soy Game Master ¿tendré el control de mi aventura si los personajes los
        controla una IA?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      <strong>¡Sí, absolutamente!</strong> Aunque la IA maneje las interacciones
      de los personajes no jugadores, como Game Master <strong
        >tú eres el verdadero director</strong
      > de la obra. Serás el encargado de supervisar y guiar a estos personajes para
      que se ajusten a tu visión de la historia. Nuestra función única llamada <strong
        >"susurros"</strong
      > te permite, literalmente, susurrar instrucciones a los personajes mediante
      texto, de manera que puedas influir en sus acciones, decisiones y diálogos
      para que sigan el curso que tú desees. Además, tienes la capacidad de hacer
      tiradas de atributos y modificar el flujo de la conversación según lo necesites.
      Pero eso no es todo; la función de <strong>"eventos"</strong> es otra herramienta
      poderosa que te permitirá introducir giros y cambios en la historia, afectando
      directamente el flujo de la conversación en función de los eventos clave que
      establezcas. Con Magical20, tienes todo lo necesario para mantener el control
      y dirigir tu aventura de manera precisa y apasionante.
    </p>
  </details>
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">
        ¿Y si no tengo a nadie que haga de Game Master?
      </h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      <strong>En este momento</strong>, para jugar con Magical20 <strong
        >se requiere de un Game Master o director de juego</strong
      > que dirija la aventura. Pero, ¡ser Game Master es realmente divertido! Es
      una oportunidad única de ser el narrador y el creador de mundos, guiando a
      tus jugadores a través de aventuras épicas. Sin embargo, entendemos que no
      todos tienen experiencia en este rol o pueden sentirse abrumados por las reglas.
      Por ello, <strong>estamos trabajando</strong> para el futuro en proporcionar
      aventuras de inicio diseñadas especialmente para aquellos que son nuevos en
      el mundo del rol o no cuentan con un Game Master. Estas aventuras no solo te
      enseñarán las bases del juego de rol, sino que también te guiarán en el arte
      de mastear, todo ello con el apoyo de nuestro <srtrong
        >"profesor de rol inteligente"</srtrong
      >, una función de IA que estará ahí para asistirte en cada paso. Con
      nuestras futuras actualizaciones, las reglas ya no serán un impedimento.
      ¡Así que mantente atento a las novedades!
    </p>
  </details>
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">¿Cuánto costará Magical20?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      En Magical20, hemos diseñado distintos niveles de acceso pensando en cada
      tipo de aventurero. Comienza con el <strong
        >plan "JUGADOR", totalmente gratuito</strong
      >, donde podrás sumergirte en el arte de la creación de personajes y
      diseñar tus primeras mini-aventuras. Si sientes que la llamada del gran
      narrador es irresistible, el <strong>plan "MASTER"</strong> es para ti. Con
      una pequeña inversión, desbloquearás la magia de crear mundos enteros, diseñando
      personajes, lugares místicos, bestias legendarias, tesoros escondidos y aventuras
      épicas sin limitaciones. Y para aquellos que buscan la experiencia más inmersiva
      y revolucionaria, el <strong>plan "MASTER+"</strong> te abre las puertas a
      la verdadera magia: la capacidad de conversar en tiempo real con tus personajes,
      llevando tus sesiones de rol a niveles nunca antes imaginados. En cuanto a
      los precios exactos, estos se revelarán en cuanto la aplicación esté disponible,
      ¡así que mantente atento para no perderte ningún detalle!
    </p>
  </details>
  <details class="group [&_summary::-webkit-details-marker]:hidden">
    <summary
      class="flex cursor-pointer items-center justify-between gap-1.5 rounded-lg bg-gray-50 p-4 text-gray-900"
    >
      <h2 class="font-medium">¿Puedo probarlo ya?</h2>

      <svg
        class="h-5 w-5 shrink-0 transition duration-300 group-open:-rotate-180"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"></path>
      </svg>
    </summary>

    <p class="mt-4 px-4 leading-relaxed text-white-700">
      ¡Tu entusiasmo es contagioso! Estamos dando los últimos toques mágicos a
      Magical20 y <strong>muy pronto</strong> estará al alcance de todos. Sin embargo,
      si no puedes esperar a desatar tu creatividad, te invitamos a inscribirte en
      la <strong>lista de espera</strong> que encontrarás más <strong
        >abajo</strong
      >. De esta manera, tendrás la oportunidad de acceder a la app antes que
      nadie y sumergirte en esta revolucionaria experiencia de rol.
    </p>
  </details>
</div>
