---
import MySwiper from "../components/MySwiper.jsx";
import PlayBadge from "../components/PlayBadge.astro";
import AppleBadge from "../components/AppleBadge.astro";
---

<section
  class="relative bg-cover bg-center bg-no-repeatrelative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full"
>
  <MySwiper client:visible />
  <div
    class="absolute z-0 bottom-0 top-0 w-full h-full
    bg-gradient-to-l from-transparent from-10% via-black/40 to-black/70"
  >
  </div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:px-8 lg:flex-col lg:justify-center"
  >
    <div class="max-w-xl text-left">
      <h1 class="text-3xl font-extrabold sm:text-4xl">
        Tus partidas de <strong>Rol</strong>
        <br />
        a otro nivel con ayuda de la <strong>IA.</strong>
      </h1>

      <p class="mt-4 max-w-lg sm:text-xl/relaxed">
        Creamos tu proxima aventura de rol con ayuda de la inteligencia
        artificial.
      </p>
    </div>
    <div
      class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4 rtl:space-x-reverse"
    >
      <AppleBadge />
      <PlayBadge />
    </div>
  </div>
</section>
